@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@theme {
  --color-primary: #2a9d8f;
  --color-secondary: #264653;
  --color-success: #2a9d8f;
  --color-warning: #e9c46a;
  --color-accent: #f4a261;
  --color-danger: #e76f51;
  --color-bg-light: #F8FAFC;
  --color-bg-dark: #0F172A;
  --font-primary: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-bg-light text-slate-800 font-primary dark:bg-bg-dark dark:text-slate-200;
  }
}
